# Configuração da API
VITE_API_URL=https://lovelove-back-1.onrender.com

# Configurações do Vercel
NODE_ENV=production

# Token do Ngrok (opcional - para URLs fixas)
# Obtenha em: https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN=31NrYSF7xdqvULUbvnUpqSktiKx_Q7WdwH278LqehKxbrfzs

# Configurações do Docker
# NODE_ENV=development
